.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor:pointer;
    text-transform: uppercase;
    transition: all .3s;

}
.btn-primary{
    background: transparent;
    color: var(--secondary);
    border-color: var(--primary);
}
.btn-primary:hover{
    background: var(--primary);
    border-color: var(--primary);
    color: var(--secondary);
}
.btn-secondary{
    background:transparent;
    color: var(--primary);
    border-color: var(--primary);
}
.btn-secondary:hover{
    background: var(--primary);
    color: var(--secondary);
}

.flex-1{
    flex:1;
}
.justtify-center{
    justify-content: center;
}